/* CSS Documents */
@font-face {
    font-family: UTM Avo;
    src: url('fonts/UTM Avo.ttf');
}

@font-face {
    font-family: UTM Avo;
    src: url('fonts/UTM AvoBold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: UTM Avo;
    src: url('fonts/UTM AvoBold_Italic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: UTM Avo;
    src: url('fonts/UTM AvoItalic.ttf');
    font-style: italic;
}


body {
    font-family: UTM Avo !important;
    font-size: 12px;
    color: #333;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
}

div, h1, h2, h3, h4, h5 {
    font-family: UTM Avo !important;
    margin: 0;
}

a, link {
    text-decoration: none;
    color: #000000;
}


.fl {
    float: left;
}

.fr {
    float: right;
}

.op {
    overflow: hidden;
    position: relative;
}

.clearboth {
    clear: both;
}

.seperator {
    width: 100%;
}

.hidden {
    display: none;
}

.invisibled {
    visibility: hidden;
}

/*--Layout header--*/
div.outline_top {
    width: 100%;
    background-color: #ffffff;
}

div.header {
    width: 1024px;
    margin: 0 auto;
    height: 161px;
    margin-top: 0px;
}

div.navi_top1 {
    width: 100%;
    float: left;
}

    div.navi_top1 .navi_top1_content {
        margin: 30px 30px 5px 0px;
    }

    div.navi_top1 a {
        float: left;
        font-size: 14px;
        color: #effafe;
    }

    div.navi_top1 span {
        padding-left: 8px;
        padding-right: 8px;
        float: left;
        color: #effafe;
        font-size: 14px;
    }

/*
div.navi_top2 {
    width: 100%;
    float: left;
    background-color: #017dc7;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}
*/

div.navi_top2 .navi_top2_content {
}

div.navi_top2 a.navi_default {
    width: 100px;
}

div.navi_top2 a.navi_default {
    width: 100px;
}

div.navi_top2 a.navi_default {
    width: 100px;
}

/*--Layout slide--*/
div.outline_slide {
    width: 100%;
    background-color: #ffffff;
}

div.slider {
    width: 1024px;
    margin: 0 auto;
    height: 264px;
    position: relative;
}

div.top_banner {
    /*position: absolute;
    top: -1px;
    left: 0px;
    width: 1000px;
    height: 224px;*/
    width: 100%;
    float: left;
}

    div.top_banner img {
        border: 0;
    }

    /*--Layout slide--*/
div.outline_noneslide {
    width: 100%;
    background-color: #ffffff;
}

div.noneslider {
    width: 1024px;
    margin: 0 auto;
    /*height: 40px;*/
}

div.noneslider .noneslider_content {
    width: 1008px;
    float: left;
    padding: 0px 6px;
}

/***layout menu***/
div.outline_menu {
    width: 100%;
    background-color: #ffffff;
}


div.menuer {
    width: 1024px;
    margin: 0px auto;
}

    div.menuer ul {
        list-style: none;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0px;
        margin-top: 25px;
        padding: 0px;
    }

        div.menuer ul li {
            text-align: center;
            float: left;
        }

            div.menuer ul li span {
                font-size: 11px;
                font-weight: bold;
            }

div.top_menu {
    height: 36px;
    width: 1012px;
    float: left;
    margin-bottom: 8px;
    padding: 0px 6px;
}

    div.top_menu ul {
        list-style: none;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0px;
        margin: 0px 0px 0px 0px;
        padding: 0px;
    }

    div.top_menu li {
        padding: 5px 1px;
        float: left;
        vertical-align: middle;
    }

        div.top_menu li span {
            font-size: 1.20em;
            font-weight: normal;
            text-transform: uppercase;
                    }

        div.top_menu li a {
            display: block;
            color: #9893a4;
            margin: 0px 3px;
        }

            div.top_menu li a:hover, div.top_menu li a.selected {
                color: #f9997f;
            }

    div.top_menu ul li {
        position: relative;
        /*margin: 0px 4px;*/
        margin-right: 12px;
    }

        div.top_menu ul li.active1 {
            /*background-color: #ee3135;*/
        }

            div.top_menu ul li.active1 span a {
                color: #eb098f;
                height: 25px;
                line-height: 25px;
            }

                div.top_menu ul li.active1 span a:hover {
                    color: #00bcd4;
                }

        div.top_menu ul li.normal1 {
        }

            div.top_menu ul li.normal1 span a {
                height: 25px;
                line-height: 25px;
            }

            div.top_menu ul li.normal1 span a {
                color: #9893a4;
            }

                div.top_menu ul li.normal1 span a:hover {
                    color: #00bcd4;
                }

                
        div.top_menu ul li.first a {
            /*margin-left: 0px;*/
        }
        
            div.top_menu ul li.last a {
                /*margin-right: 0px;*/
            }

            div.top_menu ul li.first {
                margin-right: 14px;
                margin-left: 3px;
        }

            div.top_menu ul li.last {
                margin-right: 8px;
                margin-left: 7px;
            }

            div.top_menu ul li.borderbottom1 {
                border-bottom: solid 2px #f5c200;
            }

            div.top_menu ul li.borderbottom2 {
                border-bottom: solid 2px #f17a00;
            }

            div.top_menu ul li.borderbottom3 {
                border-bottom: solid 2px #fae27b;
            }

            div.top_menu ul li.borderbottom4 {
                border-bottom: solid 2px #eb0063;
            }

            div.top_menu ul li.borderbottom5 {
                border-bottom: solid 2px #f17a00;
            }

            div.top_menu ul li.borderbottom6 {
                border-bottom: solid 2px #ef5cb2;
            }

            div.top_menu ul li.borderbottom7 {
                border-bottom: solid 2px #4cc5e9;
            }

            div.top_menu ul li.borderbottom8 {
                border-bottom: solid 2px #28abb3;
            }

            div.top_menu ul li.borderbottom9 {
                border-bottom: solid 2px #b40011;
            }

            div.top_menu ul li.borderbottom10 {
                border-bottom: solid 2px #40499c;
            }

            div.top_menu ul li.borderbottom11 {
                border-bottom: solid 2px #f5c100;
            }

            div.top_menu ul li.borderbottom12 {
                border-bottom: solid 2px #28abb3;
            }


div.menuer ul li div.drop_menu {
    background: none repeat scroll 0 0 #00bcd4;
    display: block;
    left: 0px;
    position: absolute;
    top: 30px;
    width: 184px;
    z-index: 100;
    margin-left: 0 !important;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

div.menuer ul li div.drop_menu li {
    width: 182px;
    padding: 0px !important;
    text-align: left !important;
    border-top: dotted 1px #a8aaad;
}

div.menuer ul li div.drop_menu li:first-child {
    border-top: none !important;
}

div.menuer ul li div.drop_menu a {
    font-size: 0.95em !important;
    border-bottom: none;
    color: #ffffff !important;
    display: block;
    height: auto;
    line-height: 20px;
    padding: 3px;
    text-decoration: none;
    width: 176px;
    margin-left: 0px !important;
    background-color: #00bcd4;
    
}

    div.menuer ul li div.drop_menu a:hover {
        color: #ffffff !important;
        background-color: #eb1092;
    }


/***layout main***/
div.outline_main {
    width: 100%;
    background-color: #ffffff;
}

div.main_wapper {
    width: 1024px;
    height: auto;
    margin: 0px auto;
}

div.main_wapper .main-h {
    width: 1012px;
    float: left;
    padding: 0px 6px;
}

div.home-social {
    width: 100%;
    float: left;
}

div.home-social .home-social-content {
    float: right;
    font-size: 14px;
    color: #6f7071;
}

div.home-social-content .title{
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}

div.home-social-content ul {
    list-style: none; 
    float: right;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

div.home-social-content ul li {
    width: 56px;
    float: left;
}

div.home-video {
    width: 100%;
    float: left;
    border-bottom: solid 2px #c0c0c0;
    padding-bottom: 15px;
    padding-top: 10px;
}

div.home-video .home-video-content {
    font-size: 18px;
    color: #3db6c0;
}

div.home-video-content .title{
    font-weight: bold;
}

div.home-video-content .video-box{
    margin-top: 10px;
}

div.home-video-content .video-left {
    width: 50%;
    float: left;
}

div.home-video-content .video-right {
    width: 50%;
    float: right;
}

/***layout sponsor***/

div.outline_sponsor {
    width: 100%;
    background-color: #ffffff;
}

div.sponsor {
    width: 1024px;
    margin: 0px auto 0px;
    height: 145px;
}

    div.sponsor .sponsor-header {
        color: #ee3135;
        font-weight: normal;
        font-size: 22px;
        height: 45px;
        line-height: 45px;
    }

    div.sponsor .sponsor-content {
        /*border-top: solid 1px #c0c0c0;
        text-align: center;
        padding-top: 10px;*/
        width: 100%;
        float: left;
    }

        /*div.sponsor .sponsor-content ul {
            margin: 20px 0px;
            width: 976px;
            float: left;
            -webkit-padding-start: 0px;
        }

        div.sponsor .sponsor-content li {
            list-style-type: none;
            text-align: center;
            width: 195px;
            float: left;
        }*/

    div.sponsor .sponsor-previous {
        margin-right: 1px;
        height: 90px;
        position: relative;
        width: 11px;
        float: left;
    }

        div.sponsor .sponsor-previous a {
            left: 0px;
            top: 38px;
            position: absolute;
        }

    div.sponsor .sponsor-next {
        margin-left: 1px;
        height: 90px;
        position: relative;
        width: 11px;
        float: right;
    }

        div.sponsor .sponsor-next a {
            left: 0px;
            top: 38px;
            position: absolute;
        }


        div.sponsor .sponsor-content .line {
        height: 2px; 
        margin-bottom: 10px; 
        background-color: #ccc9c9; 
        width: 100%; 
        float: left;
    }
/***layout social***/

div.outline_social {
    width: 100%;
    background-image: url('/images/social-bg.png');
    height: 42px;
}

div.social {
    width: 1000px;
    margin: 0px auto 0px;
    position: relative;
}

    div.social .social-container {
        margin: 5px 0px;
        position: absolute;
        top: 0px;
        left: 0px;
        color: #ffffff;
    }

/***layout footer***/
div.outline_footer {
    width: 100%;
    background-color: #ffffff;
}

div.footer {
    width: 1024px;
    height: 40px;
    margin: 0px auto 0px;
    /*padding-top: 5px;
    border-top: solid 2px #c0362f;*/
    background-color: #40a3da;
}

    div.footer .footer_content {
        font-size: 15px;
        color: #ffffff;
        text-align: center;
        line-height: 40px;
        vertical-align: middle;
    }

    div.footer .footer_slide {
        width: 100%;
        height: 43px;
        margin-top: 43px;
    }

        div.footer .footer_slide .left {
            width: 47px;
            height: 43px;
            background: url('/images/navi_bottom.jpg') 0 0 no-repeat;
            float: left;
        }

        div.footer .footer_slide .right {
            width: 47px;
            height: 43px;
            background: url('/images/navi_bottom.jpg') -47px 0 no-repeat;
            float: left;
        }

            div.footer .footer_slide .left a, div.footer .footer_slide .right a {
                display: block;
                width: 47px;
                height: 43px;
            }

        div.footer .footer_slide .scroll_inline {
            width: 906px;
            height: 43px;
            float: left;
        }

            div.footer .footer_slide .scroll_inline .item {
                display: block;
                float: left;
                margin-right: 10px;
                margin-left: 10px;
            }

    div.footer .label_copyright {
        font-size: 11px;
        color: #ffffff;
        margin-left: 5px;
        margin-top: 10px;
        float: left;
        width: 950px;
        text-align: center;
    }

        div.footer .label_copyright a {
            color: #ffffff;
        }

            div.footer .label_copyright a:hover {
                color: #f9997f;
            }

    div.footer .footer-logo {
        width: 274px;
        float: right;
        padding-top: 15px;
    }

    div.footer .footer-organisedby {
        width: 274px;
        float: right;
        color: #ee3135;
        font-weight: normal;
        padding-top: 2px;
    }


    div.footer .footer-container {
        width: 100%;
        float: left;
    }



    div.footer .footer-copyright {
        width: 725px;
        float: left;
        margin-top: 23px;
    }

        div.footer .footer-copyright .name {
            font-size: 1.6em;
            color: #1c145b;
        }

        div.footer .footer-copyright .address {
            font-size: 1.3em;
            color: #000000;
            line-height: 24px;
        }

        div.footer .footer-copyright .contact {
            font-size: 1.3em;
            color: #000000;
            line-height: 24px;
        }

/***layout footer***/
div.outline_contact {
    width: 100%;
    background-color: #ffffff;
}

div.contact {
    width: 1024px;
    height: 210px;
    margin: 0px auto 0px;
    /*padding-top: 5px;
    border-top: solid 2px #c0362f;*/
}

    div.contact .contact_content {
        width: 1024px;
        float: left;
        font-size: 14px;
    }

    div.contact .contact_content .line {
        height: 2px; 
        margin-top: 10px; 
        background-color: #ccc9c9; 
        width: 100%; 
        float: left;
    }

    div.contact .contact_content .info {
        width: 100%; 
        float: left;
    }

    div.contact .contact_content .info h1 {
        margin-top: 10px;
        color: #616363;
    }

    div.contact .contact_content .info_left {
        width: 50%; 
        float: left;
    }

    div.contact .contact_content .info_left .detail {
        padding: 10px 0px 20px 0px;
    }

    div.contact .contact_content .info_right {
        width: 50%; 
        float: left;
    }

    div.contact .contact_content .info_right .detail {
        padding: 10px 0px 20px 0px;
    }

/**Content width pages**/
div.main_left_col {
    padding-top: 15px;
    width: 260px;
    float: left;
}

    div.main_left_col div.submenu {
        position: relative;
    }

        div.main_left_col div.submenu ul {
            margin: 0px;
            padding: 0px;
        }

        div.main_left_col div.submenu li {
            list-style: none;
            margin: 0px 0px 12px;
            padding: 5px 0px 5px 10px;
            width: 248px;
            line-height: 28px;
            background-color: #0b86c4;
        }

            div.main_left_col div.submenu li span {
                font-size: 1.00em;
                font-weight: bold;
            }

                div.main_left_col div.submenu li span a {
                    color: #ffffff;
                }

            div.main_left_col div.submenu li.menu_selected {
                background-color: #003298;
            }

                div.main_left_col div.submenu li.menu_selected a {
                    color: #ffffff;
                }

            div.main_left_col div.submenu li a:hover {
                text-decoration: underline;
            }

    div.main_left_col div.sponsor_region {
        margin-top: 30px;
        box-shadow: 2px 2px #d8d9db;
        height: 225px;
        background-color: #ffffff;
        border: solid 1px #bbbdbf;
    }

    div.main_left_col div.sponsor_slider {
        margin: 20px;
        text-align: center;
    }

        div.main_left_col div.sponsor_slider .sponsor_title {
            border-bottom: solid 2px #c0362f;
            font-size: 1.1em;
            font-weight: bold;
            height: 22px;
        }

        div.main_left_col div.sponsor_slider .image_previous {
            margin-top: 10px;
        }

        div.main_left_col div.sponsor_slider .image_logo {
            margin: 10px 0px;
        }

        div.main_left_col div.sponsor_slider .image_next {
            margin-bottom: 10px;
        }

    div.main_left_col div.home_copyright {
        margin-left: 20px;
        margin-top: 20px;
    }

div.main_right_col {
    width: 720px;
    float: left;
    margin-left: 20px;
}

div.main {
    /*border-bottom: solid 1px #cccccc;*/
    width: 100%;
    float: left;
}

div.main .left_col {
        width: 734px;
        float: left;
        margin-left: 10px;
    }

    div.left_col .content-container {        
        left: 0px;
        top: 100px;
    }

    div.main .right_col {
        width: 280px;
        float: left;
    }

div.main-container {
    height: auto;
    width: 720px;
    float: left;
    padding: 15px 0px 0px;
}

div.main-title {
    color: #ffffff;
    font-size: 16px;
    padding: 0.5em 3em .5em 1.8em;
    width: 653px;
    float: left;
        background: #0b86c4;
        text-transform: uppercase;
}

div.main-content {
    width: 699px;
    min-height: 450px;
    border-left: solid 1px #0b86c4;
    padding: 0px 10px 10px;
}

    div.main-content .content {
        padding: 0%;
        color: #333;
        font-size: 14px;
        line-height: 1.5;
        text-align: left;
    }

        div.main-content .content p {
            margin-bottom: 10px;
        }
		
		div.main-content .content table p {
            -webkit-margin-before: 0.2em;
			-webkit-margin-after: 0.2em;		
        }

div.home-container {
    border-bottom: solid 0px #cccccc;
    height: auto;
    width: 100%;
    float: left;
    padding: 3px 0px 15px;
}

div.home-content {
    width: 100%;
    margin: 10px 0px;
}

div.home-content .home-content-wapper {
    /*border-bottom: solid 2px #c0c0c0;*/
    padding-bottom: 15px;
    width: 100%;
    float: left;
}

div.home-content .content-h {
        padding: 0%;
        color: #333;
        font-size: 16px;
        line-height: 1.5;
        text-align: justify;
    }

        div.home-content .content-h p {
            margin-bottom: 10px;
        }

        div.home-content .content-h-l {
            width: 426px;
            background-color: #d4d4d4;
            float: left;
        }

        div.home-content .content-h-r {
            width: 554px;
            margin-left: 20px;
            float: left;
        }

div.home-content .home-title {
    color: #FFFFFF;
    font-size: 20px;
    width: 100%;
    float: left;
    padding-bottom: 2px;
    font-weight: bold;
    BACKGROUND-COLOR: #9893a4;
    TEXT-ALIGN: CENTER;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
}

div.home-image {
    width: 100%;
    height: 246px;
    margin: 0px 0px 10px;
    border-top: 1px dashed #c0c0c0;
}

div.home-image .content-h {
        padding: 10px 0px;
        color: #333;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
    }

div.home-organised {
    width: 100%;
    height: 150px;
    margin: 0px 0px 10px;
    border-top: 1px solid #c0c0c0;
}
div.home-organised .content-h {
        padding: 10px 0px;
        color: #333;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
    }

    div.home-organised .title {
        width: 100%; 
        float: left;
        color: #da1c23;
        font-weight: bold;
    }

    div.home-organised .logo-list {
        width: 400px;
        margin: auto;
        border-bottom: 1px dotted #c0c0c0;
        padding: 30px;
    }

    div.home-sponsored {
    width: 100%;
    height: 250px;
    margin: 10px 0px 10px;
    
}

div.home-sponsored .content-h {
        padding: 10px 0px;
        color: #333;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
    }

    div.home-sponsored .title {
        width: 100%; 
        float: left;
        color: #da1c23;
        font-weight: bold;
    }

    div.home-sponsored .logo-list {
        width: 100%; 
        float: left;
        padding: 10px 0px 20px;
    }

    div.home-sponsored .sponsor-previous {
        margin-right: 1px;
        height: 90px;
        position: relative;
        width: 11px;
        float: left;
}

    div.home-sponsored .sponsor-previous a {
        left: 0px;
    top: 25px;
    position: absolute;
}

    div.home-sponsored .sponsor-next {
    margin-left: 1px;
    height: 90px;
    position: relative;
    width: 11px;
    float: right;
}

    div.home-sponsored .sponsor-next a {
        left: 0px;
    top: 25px;
    position: absolute;
}

    div.home-sponsored ul {
    margin: 0px 0px 20px;
    width: 976px;
    float: left;
    -webkit-padding-start: 0px;
}

    div.home-sponsored li {
    list-style-type: none;
    text-align: center;
    float: left;
}

    div.home-sponsored div.logo-list span a, div.sponsor div.sponsor-content  span a {
        padding: 0px 5px;
    }

    div.home-sponsored div.logo-list span.diamond img,  div.sponsor div.sponsor-content span.diamond img {
        height: 60px;
    }

    div.home-sponsored div.logo-list span.gold img,  div.sponsor div.sponsor-content span.gold img {
            height: 50px;
        }
    
    div.home-sponsored div.logo-list span.silver img,  div.sponsor div.sponsor-content span.silver img {
            height: 40px;
        }

    div.home-sponsored div.logo-list span.copper img,  div.sponsor div.sponsor-content span.copper img {
            height: 30px;
        }

div.right-menu, div.large-ads, div.address_info {
    width: 100%;
    margin-bottom: 10px;
   /* margin-top: 21px;*/
}

    div.right-menu .item {
        width: 251px;
        line-height: 25px;
        text-align: left;        
        background: #adacb1;
        float: left;
        padding-left: 12px;
        padding-right: 5px;
    }

        div.right-menu .item a {
            color: #000000;
            font-size: 16px;
        }

            div.right-menu .item a:hover, div.right-menu .item a.selected {
                color: #ee3880;
            }

div.address_info {
    color: #2e4287;
    font-size: 18px;
    line-height: 1.5;
}


div.large-ads {
    width: 268px;
    margin-bottom: 10px;
    float: left;
}

    div.large-ads .large-ads-title {
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -khtml-border-radius: 4px;
        background-color: #9893a4;
        margin-bottom: 6px;
        height: 30px;
        line-height: 30px;
    }

        div.large-ads .large-ads-title span {
            font-size: 18px;
            font-weight: normal;
            text-align: center;
            float: left;
            margin-left: 12px;
        }

            div.large-ads .large-ads-title span a {
                color: #ffffff;
            }

                div.large-ads .large-ads-title span a:active {
                    color: #ffffff;
                }

                div.large-ads .large-ads-title span a:link {
                    color: #ffffff;
                }

                div.large-ads .large-ads-title span a:hover {
                    color: #50adea;
                }

div.bottom_menu {
    background: #2e4287;
    height: 23px;
    width: 100%;
    float: left;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
}

    div.bottom_menu ul {
        margin: 0px 10px 5px 20px;
        list-style: none;
        padding: 0px;
    }

    div.bottom_menu li {
        line-height: 23px;
        padding: 0 5px 0 5px;
        float: left;
    }

        div.bottom_menu li a {
            display: block;
            font-size: 12px;
            color: #fff;
        }

            div.bottom_menu li a:hover {
                color: #ee3880;
            }

        div.bottom_menu li.spa_line {
            color: #8c92ae;
            padding-left: 2px;
            padding-right: 2px;
            font-size: 12px;
        }



.txt_input {
    white-space: normal;
    width: 150px;
}

.rightColumnSpace {
    margin-top: 13px;
    padding: 10px;
    width: 98%;
    background: #fff;
}

.altRow {
    background-color: #ddefff;
}

.eventTitle {
    background-color: #003782;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

/*Thanghm add*/
.stit {
    text-align: left;
    height: 38px;
    font-size: 12pt;
    color: #337fc6;
    font-weight: bold;
    padding: 10px 0 0 25px;
    background: URL('/images/stitbg.png') no-repeat;
    float: left;
    margin-left: 10px;
}

div.main-title1 {
    background: url('/images/stitbg.png') no-repeat;
    width: 663px;
    line-height: 38px;
    float: left;
    text-align: left;
    color: #337fc6;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0 0 25px;
    margin-left: 10px;
}

div.sitemap {
    width: 670px;
    padding: 10px;
    text-align: center;
    position: relative;
}

    div.sitemap ul {
        width: 172px;
        list-style: none;
    }

        div.sitemap ul.menu01 {
            position: absolute;
            left: 0px;
            top: 0px;
            padding-left: 5px;
        }

        div.sitemap ul.menu02 {
            position: absolute;
            left: 190px;
            top: 0px;
        }

        div.sitemap ul.menu03 {
            position: absolute;
            left: 415px;
            top: 0px;
        }

        div.sitemap ul li.tit {
            width: 180px;
            border-top: 2px solid #ccc;
            border-bottom: 2px solid #ccc;
            padding: 7px 0px 7px 0px;
            text-align: center;
            font-size: 13px;
            letter-spacing: 0px;
            color: #777;
            margin: 0;
            font-weight: bold;
        }

        div.sitemap ul li.sm {
            width: 180px;
            height: 25px;
            border-bottom: 1px solid #e5e5e5;
            font-weight: none;
            font-size: 12px;
            color: #505050;
            text-align: left;
            letter-spacing: 0;
            margin: 0 auto;
            padding: 5px 0px 5px 20px;
        }



/*Video*/
.CRV_Video {
    float: left;
    width: 460px;
    margin-top: 11px;
    display: inline;
    overflow: hidden;
}

.CRV_Content {
    float: left;
    width: 320px;
    margin-right: 10px;
    margin-left: 6px;
    display: inline;
    height: 290px;
    overflow: hidden;
    position: relative;
}

.CRV_Image {
    width: 320px;
    float: left;
    height: 240px;
    overflow: hidden;
    position: relative;
}

.CRV_Title {
    float: left;
    padding-top: 5px;
    font: 12px arial;
    height: 45px;
    overflow: hidden;
    margin-bottom: 10px;
    width: 100%;
}

    .CRV_Title a {
        width: 314px;
        position: absolute;
        text-align: center;
    }

a.CRV_Image_Icon_Player {
    background: url("/images/action_play_video.png") no-repeat scroll left bottom transparent;
    display: block;
    height: 33px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 32px;
}

    a.CRV_Image_Icon_Player:hover {
        background: url("/images/action_play_video.png") top left no-repeat;
    }

div.other_video {
    color: #0160A5;
}

    div.other_video .title {
        font-size: 18px;
        font-weight: bold;
    }

    div.other_video a:hover {
        color: #ee3880;
    }

/*slide*/
#slider {
    position: relative;
    width: 1000px;
    height: 210px;
    margin-left: 0px;
    background: url(/images/slide/loading.gif) no-repeat 50% 50%;
}

    #slider img {
        position: absolute;
        top: 0px;
        left: 0px;
        display: none;
    }

    #slider a {
        border: 0;
        display: block;
    }


.ads1 {
    position: absolute;
    top: 181px;
    left: -121px;
}

.ads2 {
    position: absolute;
    top: 181px;
    right: -121px;
}

.topmenufix_container {
    position: fixed;
    top: 0px;
    margin: 0px auto;
    background-color: #effafe;
    opacity: 0.95;
    color: white !important;
    z-index: 50;
}

#docs-internal-guid-1b3f98a1-8256-a129-ed00-da954dff14b3 tr a:hover{
	color: #f58612;	
}