header .nav-link {
	font-size: 11px;
	font-weight: bold;
	color: #9893a4;
}
.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}
.navbar {
    background: #ffffff;
}